.e0{
    text-align: center;
    display: block;
}


.e1{
    text-align: center;
    display: block;
}
.e2{
    color: red;
}
.e3{
    color: blue;
}
.e4{
    color: green;
}
strong{
    color: brown;
}

.b0{
    text-align: center;
    display: block;
}
.b1{
    text-align: center;
    display: block;
}
.doan1{
    color: red;
}
.doan2{
    color: blue;
}
.doan3{
    color: green;
}
.doan4{
    color: red;
}